<!DOCTYPE html>

<html>
    <head>
      <meta charset="utf-8">
      <title>Sentry - Dashboard</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/assets/css/user.css">
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
    </head>

    <body>
      <div class="menu">
        <small><b>sentry</b></small>
        <a href="/logout"><b class="links">Logout</b></a>
        <a href="/account"><b class="links">Account</b></a>
        <a href="/login"><b class="links">Home</b></a>
      </div>
      <hr/>
    </body>
    
</html>