<!DOCTYPE html>

<html>
    <head>
      <meta charset="utf-8">
      <title>Sentry - Verify</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
    </head>

    <body>
      
      <header>
        <div class="main-header">
          <h1>Sentry</h1>
          <hr/>
          <h4><b>Cras nec mauris aliquam, hendrerit sapien sed, tincidunt mauris.</b></h4>
          <div>
            <img src="../assets/email.png" class="responsive">
            <h4><b>A verification link has been sent to your email.</b></h4>
            <h6>If you do not receive a verification email within 10 minutes please contact support. </h6>
          </div>
          <small>Already verified your account? <a href="/login">Login</a></small>
        </div>
      </header>
    </body>

</html>